<h1>Listing participants</h1>
<div id= "wrapper">
	
<ul class="partyPicGroom">
<%  @participants.each do |participant| %>
  <li>
	<figure>
    <img src=<%= participant.picture %>>
    <%= participant.name %></br><%= participant.title %>
    <%= link_to 'Show', participant %></br>
    <%= link_to 'Edit', edit_participant_path(participant) %>
    <%= link_to 'Destroy', participant, :confirm => 'Are you sure?', :method => :delete %>
	<figure>
  </li>
<% break if participant.id > 10; %>
</br>
<% end %>
</ul>


<ul class="partyPicBride">
<%  Participant.find_each(:start =>3) do |participant| %>
 <li>
  <figure>
    <img src=<%= participant.picture %>>
    <%= participant.name %></br><%= participant.title %>
    <%= link_to 'Show', participant %></br>
    <%= link_to 'Edit', edit_participant_path(participant) %>
    <%= link_to 'Destroy', participant, :confirm => 'Are you sure?', :method => :delete %>
  <figure>
	</li>
	</br>
<% end %>
</ul>
</br>

<%= link_to 'New Participant', new_participant_path %>
</div>