<p id="notice"><%= notice %></p>

<div id= "wrapper">
<p>
  <img src="/images/<%= @participant.picture %>">
</p>

<p>
  <b>Name:</b>
  <%= @participant.name %>
</p>

<p>
  <%= @participant.title %>
</p>

<p>
  <%= @participant.relationship %>
</p>

<p>
  <%= @participant.description %>
</p>

</div>