<p id="notice"><%= notice %></p>

<div id= "wrapper">
<p>
  <img src=<%= @participant.picture %>>
</p>

<p>
  <%= @participant.name %>
</p>

<p>
  <%= @participant.title %>
</p>

<p>
  <%= @participant.relationship %>
</p>

<p>
  <%= @participant.description %>
</p>

</div>